.TosIcon {
    width: 50px;
    margin: 2px;
    vertical-align: text-bottom;
}

.background {
    position: absolute;
    z-index: -1;
    background-color: black;
    width: 50px;
    height: 20px;
}

.monsterId a {
    color: white;
    vertical-align: text-top;
    text-align: center;
    font-weight: bold;
    font-size: xx-small;
}
.normal {
    outline: 3px black solid;
    outline-offset: -3px;
    vertical-align: text-bottom;
    width:50px; /* you can use % */
    height: auto;
}

.shaded {
    outline: 3px black solid;
    outline-offset: -3px;
    vertical-align: text-bottom;
    width:50px; /* you can use % */
    height: auto;
    filter: brightness(0.5);
}

.popup {
    position: relative;
    display: inline-block;
}

.popup .popuptext {
    visibility: hidden;
    background-color: #E8DDA3;
    color: #fff;
    text-align: center;

    top: 100%;
    left: 50%;
    right: 50%;
    margin-left: -100px;
    margin-right: -100px;

    position: absolute;
    z-index : 1;
}

.popup:hover .popuptext {
    visibility: visible;
}