.TosDupe {
    width: 80%;
    margin-right: 1%;
    margin-left: 1%;
}

.TosDupee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.VR {
    /*outline: 10px solid aquamarine;*/
    /*outline-offset: -10px;*/

    /* Create the circle */
    width: 5px;
    height: 5px;
    /* Halve the circle */
    background:darkorange;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.DW {
    outline: 4px solid red;
    outline-offset: -2.5px;


    /* Create the circle */
    width: 5px;
    height: 5px;
    /* Halve the circle */
    background:black;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.container {
    position: absolute;
}

.container2 {
    position: relative;
}

.container3 {
    white-space:nowrap;
    display: inline;
}
.none {
    display: none;
}
.image1 {
    z-index: 1;
    position: relative;
    top: -47px;
    left: 13px;
    height: 25px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #141314;
}
.image2 {
    position: relative;
    top: -47px;
    left: -15px;
    width: 25px;
    background-color: white;
}